services:
  nginx:
    container_name: "${NGINX_CONTAINER_NAME:-nginx-reverse-proxy}"
    image: nginx:latest
    ports:
      - "${NGINX_HOST_PORT:-80}:80"
    volumes:
      - ./conf.d:/etc/nginx/conf.d
    networks:
      - homelab
    restart: unless-stopped

networks:
  homelab:
    external: true
